<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string>UserInfo</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>UserName</string>
                <key>Key</key>
                <string>login_name</string>
            </dict>
            <dict>
                <key>KeyboardType</key>
                <string>Alphabet</string>
                <key>AutocapitalizationType</key>
                <string>None</string>
                <key>AutocorrectionType</key>
                <string>No</string>
                <key>DefaultValue</key>
                <string></string>
                <key>IsSecure</key>
                <true/>
                <key>Key</key>
                <string>login_pass</string>
                <key>Title</key>
                <string>Password</string>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <false/>
                <key>Key</key>
                <string>login_isautologin</string>
                <key>Title</key>
                <string>AutoLogin</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
        </array>
        <key>StringsTable</key>
        <string>Root</string>
    </dict>
</plist>
